version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - SQLALCHEMY_DATABASE_URL=mysql+pymysql://user:12yt343u@db:3306/Pulseflowbridge
      # put your batabase url here
    depends_on:
      db:
        condition: service_healthy
    networks:
      - pulse-network

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      # set your database password and name
      MYSQL_DATABASE: Pulseflowbridge
      MYSQL_USER: user
      MYSQL_PASSWORD: 12yt343u
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      
      timeout: 20s
      retries: 10
    networks:
      - pulse-network

volumes:
  mysql_data:

networks:
  pulse-network:
    driver: bridge



