<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        <label>Name: <input type="text" name="name"></label><br>
        <label>ID Number: <input type="text" name="idnumber"></label><br>
        <label>Email: <input type="email" name="email"></label><br>
        <label>Password: <input type="password" name="password"></label><br>
        <button type="submit">Sign Up</button>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
